<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tax>
            <avatax>
                <active_service>avatax16</active_service>
                <avatax_log_group>
                    <log_lifetime>3</log_lifetime>
                    <allowed_log_types>Ping,Calculation,Transaction,Filter,Validate,Queue</allowed_log_types>
                </avatax_log_group>
                <avatax_data_mapping_group>
                    <customer_code_format>1</customer_code_format>
                    <shipping_sku>Shipping</shipping_sku>
                    <gw_items_sku>GwItems</gw_items_sku>
                    <gw_order_sku>GwOrder</gw_order_sku>
                    <gw_printed_card_sku>GwPrintedCard</gw_printed_card_sku>
                    <adjustment_positive_sku>Adjustment</adjustment_positive_sku>
                    <adjustment_negative_sku>Adjustment</adjustment_negative_sku>
                    <sales_person_code>Magento</sales_person_code>
                </avatax_data_mapping_group>
                <avatax_error_handling_group>
                    <frontend_error_message>Unfortunately, we could not calculate tax for your order. Please try again with a different address or contact us to complete your order.</frontend_error_message>
                    <backend_error_message>Unfortunately, we could not calculate tax for your order. Please try again with a different address.</backend_error_message>
                    <action_on_error>0</action_on_error>
                </avatax_error_handling_group>
            </avatax>
        </tax>
    </default>
</config>
