<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tax>
            <avatax>
                <active_service>avatax16</active_service>
                <avatax_log_group>
                    <allowed_log_types>Ping,Calculation,Transaction,Filter,Validate,Queue</allowed_log_types>
                </avatax_log_group>
            </avatax>
        </tax>
    </default>
</config>
