<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Astound\AvaTax\Model\Service\ConfigRepositoryInterface" type="Astound\AvaTax\Model\Service\ConfigRepository"/>
    <preference for="Astound\AvaTax\Model\Service\ResolverInterface" type="Astound\AvaTax\Model\Service\Resolver"/>
    <preference for="Astound\AvaTax\Api\Service\LoggerInterface" type="Astound\AvaTax\Model\Service\Logger"/>
    <preference for="Astound\AvaTax\Api\LogRepositoryInterface" type="Astound\AvaTax\Model\LogRepository"/>
    <preference for="Astound\AvaTax\Model\Service\DataSource\DataSourceInterface" type="Astound\AvaTax\Model\Service\DataSource\Calculation"/>
    <preference for="Astound\AvaTax\Api\QueueRepositoryInterface" type="Astound\AvaTax\Model\QueueRepository"/>
    <preference for="Astound\AvaTax\Api\Data\QueueSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Astound\AvaTax\Api\Data\QueueInterface" type="Astound\AvaTax\Model\Queue"/>
    <preference for="Astound\AvaTax\Api\QueueManagementInterface" type="Astound\AvaTax\Model\QueueManagement"/>
    <virtualType name="Astound\AvaTax\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">astound_avatax</argument>
        </arguments>
    </virtualType>
    <type name="Astound\AvaTax\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">Astound\AvaTax\Model\Session\Storage</argument>
        </arguments>
    </type>
    <type name="Magento\Quote\Model\Quote\Address\Item">
        <plugin name="avatax-quote-address-item-plugin"
                type="Astound\AvaTax\Plugin\Quote\Model\Quote\Address\Item" sortOrder="10"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Config">
        <plugin name="magento-quote-model-quote-config-plugin"
                type="Astound\AvaTax\Plugin\Magento\Quote\Model\Quote\Config" sortOrder="10" />
    </type>
    <type name="Magento\Tax\Model\Calculation">
        <plugin name="avatax_tax_calculation_plugin"
                type="Astound\AvaTax\Plugin\Magento\Tax\Model\Calculation" sortOrder="10" />
    </type>
    <type name="Magento\Tax\Model\Config">
        <plugin name="avatax_tax_config_plugin"
                type="Astound\AvaTax\Plugin\Magento\Tax\Model\Config" sortOrder="10" />
    </type>
    <type name="Magento\Tax\Helper\Data">
        <plugin name="avatax_tax_data_helper_plugin"
                type="Astound\AvaTax\Plugin\Magento\Tax\Helper\Data" sortOrder="10" />
    </type>
    <type name="Magento\Weee\Model\Config">
        <plugin name="avatax_weee_model_config_plugin"
                type="Astound\AvaTax\Plugin\Magento\Weee\Model\Config" sortOrder="10" />
    </type>
    <type name="Magento\GiftWrapping\Helper\Data">
        <plugin name="avatax_giftwrapping_data_helper_plugin"
                type="Astound\AvaTax\Plugin\Magento\GiftWrapping\Helper\Data" sortOrder="10" />
    </type>
    <type name="Astound\AvaTax\Model\Service\Resolver">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="avatax16" xsi:type="array">
                    <item name="service" xsi:type="string">Astound\AvaTax\Model\Service\Avatax16</item>
                    <item name="service_config" xsi:type="string">Astound\AvaTax\Model\Service\Avatax16\Config</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Weee\Model\Total\Quote\Weee">
        <plugin name="astound_avatax_total_weee" type="Astound\AvaTax\Plugin\Magento\Weee\Model\Total\Quote\Weee"/>
    </type>
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="astound_avatax_onepage_address_validation" type="Astound\AvaTax\Plugin\Checkout\Model\ShippingInformationManagement" />
    </type>
    <type name="Magento\Checkout\Model\TotalsInformationManagement">
        <plugin name="astound_avatax_checkout_cart_totals_information"
                type="Astound\AvaTax\Plugin\Checkout\Model\TotalsInformationManagement" />
    </type>
    <type name="Magento\Quote\Model\Quote\Address">
        <plugin name="quote_model_quote_address_validator" type="Astound\AvaTax\Plugin\Quote\Model\Quote\AddressValidator" />
    </type>
    <type name="Astound\AvaTax\Model\Service\Resource\Avatax16\Queue\AbstractQueue">
        <arguments>
            <argument name="timezone" xsi:type="object">Astound\AvaTax\Stdlib\DateTime\Timezone</argument>
        </arguments>
    </type>
    <type name="Astound\AvaTax\Model\Service\Resource\Avatax16\Calculation">
        <arguments>
            <argument name="timezone" xsi:type="object">Astound\AvaTax\Stdlib\DateTime\Timezone</argument>
        </arguments>
    </type>
    <virtualType name="Astound\AvaTax\Stdlib\DateTime\Timezone" type="Magento\Framework\Stdlib\DateTime\Timezone">
        <arguments>
            <argument name="scopeType" xsi:type="const">\Magento\Store\Model\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </virtualType>
    <virtualType name="LogGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Astound\AvaTax\Model\ResourceModel\Log\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">LogGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="LogGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Astound\AvaTax\Model\ResourceModel\Log\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">avatax_log</argument>
            <argument name="eventPrefix" xsi:type="string">astound_avatax_log_collection</argument>
            <argument name="eventObject" xsi:type="string">avatax_log_collection</argument>
            <argument name="resourceModel" xsi:type="string">Astound\AvaTax\Model\ResourceModel\Log</argument>
        </arguments>
    </type>
<!-- Customer Tax Classes -->
    <virtualType name="Magento\Tax\Model\ResourceModel\Customer\Grid\Collection" type="Astound\AvaTax\Model\ResourceModel\Customer\TaxClass\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">tax_class</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Tax\Model\ResourceModel\TaxClass</argument>
        </arguments>
    </virtualType>

    <!-- define filter pool provider (cache pool provider) -->
    <virtualType name="FPCustomerTax" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- define grid data provider -->
    <virtualType name="GDPCustomerTax" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magento\Tax\Model\ResourceModel\Grid\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">FPCustomerTax</argument>
        </arguments>
    </virtualType>
<!--  -->
<!-- Product Tax Classes -->
    <virtualType name="Magento\Tax\Model\ResourceModel\Product\Grid\Collection" type="Astound\AvaTax\Model\ResourceModel\Product\TaxClass\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">tax_class</argument>
            <argument name="resourceModel" xsi:type="string">Magento\Tax\Model\ResourceModel\TaxClass</argument>
        </arguments>
    </virtualType>

    <!-- define filter pool provider (cache pool provider) -->
    <virtualType name="FPProductTax" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- define grid data provider -->
    <virtualType name="GDPProductTax" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Magento\Tax\Model\ResourceModel\Grid\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">FPProductTax</argument>
        </arguments>
    </virtualType>
    <!--  -->

    <!-- this type should be in etc/di.xml, otherwise it can broke native functionality -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="avatax_queue_listing_data_source" xsi:type="string">Astound\AvaTax\Model\ResourceModel\Queue\Grid\Collection</item>
                <item name="avatax_log_listing_data_source" xsi:type="string">Astound\AvaTax\Model\ResourceModel\Log\Grid\Collection</item>
                <item name="ctc_listing_data_source" xsi:type="string">Magento\Tax\Model\ResourceModel\Customer\Grid\Collection</item>
                <item name="ptc_listing_data_source" xsi:type="string">Magento\Tax\Model\ResourceModel\Product\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
