<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="OnePica_AvaTax::sales_avatax" title="AvaTax" module="OnePica_AvaTax" sortOrder="25"
             parent="Magento_Backend::stores" resource="OnePica_AvaTax::manage_tax"/>
        <add id="OnePica_AvaTax::sales_avatax_log" title="Log" module="OnePica_AvaTax" sortOrder="15"
             parent="OnePica_AvaTax::sales_avatax" action="avatax/log" resource="OnePica_AvaTax::manage_tax"/>
    </menu>
</config>
