<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="tax">
            <group id="avatax" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Avatax</label>
                <field id="action" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Action</label>
                    <source_model>OnePica\AvaTax\Model\Source\Avatax16\Action</source_model>
                </field>
                <field id="url" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL</label>
                    <source_model>OnePica\AvaTax\Model\Source\Avatax16\Url</source_model>
                </field>
                <field id="account_number" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Number</label>
                    <validate>required-entry</validate>
                </field>
                <field id="license_key" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Licence Key</label>
                    <validate>required-entry</validate>
                </field>
                <field id="company_code" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Code</label>
                    <validate>required-entry</validate>
                </field>
                <field id="log_sub_group" translate="label" type="label" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Log Settings</label>
                </field>
                <field id="allowed_log_types" translate="label" type="multiselect" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Log Types</label>
                    <source_model>OnePica\AvaTax\Model\Source\Avatax16\LogType</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
